go 1.24.6

use (
	./exchange/consent-engine
	./exchange/orchestration-engine
	./exchange/policy-decision-point
	./exchange/shared/config
	./exchange/shared/constants
	./exchange/shared/monitoring
	./exchange/shared/utils
	./portal-backend
	./shared/audit
	./tests/integration
)
