# Vars read by tests/integration/testutils/db.go
TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_USERNAME=postgres
TEST_DB_PASSWORD=password
TEST_DB_DATABASE=consent_engine_test
TEST_DB_SSLMODE=disable
TEST_USE_POSTGRES=true
POSTGRES_PASSWORD=password
SKIP_DOCKER_COMPOSE_CHECK=false
